.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.lists-wrapper {
  display: flex;
}

.TodoList,
.DoneList {
  flex-basis: 50%;
  padding: 20px;
}

.TodoList h2,
.DoneList h2 {
  border-bottom: 2px solid #ccc;
}

.TodoList li,
.DoneList li {
  margin: 15px 0;
}

.add-button {
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
  background-color: #eee;
  margin-top: -5px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.inline-button {
  display: inline-block;
  padding: 0 5px;
  cursor: pointer;
}
